body {
    margin: 0px;
    padding: 0px;
    background-color: #1f2733;
}

.content {
    margin: auto;
    background-color: #292626;
    height: 50vh;
    width: 1200px;
    overflow-x: auto; /* Горизонтальна прокрутка */
    overflow-y: hidden; /* Відсутність вертикальної прокрутки */
    scrollbar-width: thin;
    scrollbar-color: grey; /* Колір вертикального скролбара для Firefox */
    white-space: nowrap; /* Запобігає переносу рядків */
}

.square {
    display: inline-block; /* Розміщення в один ряд */
    border-radius: 5px;
    background-color: black;
    width: 100px;
    height: 200px;
    border: 2px solid #d6a51e;
}

