body {
    display: flex;
    flex-direction: column;
    background-color: #1f2733;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    background-color: black;
    margin: auto;
    width: 1250px;
    height: 60px;
    /*    border: 1px solid gray;*/
}
.div_li{
    flex: 2;
    width: 300px;
}
.div_search{
    padding: 0px;
    margin: 0px;
    flex: 2;
    width: 300px;
    height: 70px
}
.search_form{
    border: none;
    background-color: #434647;
    border-radius: 15px;
    font-family: cursive;
    font-size: 16px;
    color: white;
    margin: 10px 0px 10px 10px;
    padding: 0px 0px 0px 10px;
    width: 350px;
    height: 33px
}


.butt_search{
    border: none;
    padding: 6px;
    margin: 0px;
    border-radius: 20px;
    font-family: cursive;
    font-size: 18px;
    background-color: #434647;
}

.login{
    width: 400px;
    height: 70px

}
.form_group_add{
    float: left;
    margin: 20px 0px 20px 20px;
    padding: 10px;
    width: 320px;
    border-radius: 10px;
    background-color: #26292e;
}
.group_list{
    float: right;
    margin: 20px 20px 20px 0px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    background-color: #26292e;

}
.group_form{
    border: none;
    background-color: #434647;
    font-family: cursive;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 10px;
    width: 300px;
    height: 40px;
}

.text_area_group{
    border: none;
    resize: none;
    width: 300px;
    height: 150px;
    background-color: #434647;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 0px 10px;
    font-family: cursive;
    font-size: 16px;
    color: white;
}


.log_form{
    border: none;
    background-color: #434647;
    font-family: cursive;
    font-size: 16px;
    color: white;
    margin: 17px 0px 17px 10px;
    width: 100px;
    height: 30px
}

.info_change{
    border: none;
    margin: 0px;
    background-color: #434647;
    font-family: cursive;
    font-size: 16px;
    color: white;
    color: white;
    width: 180px;
    height: 30px
}

.butt_green01{
    padding: 5px 8px 5px 8px;
    margin: 0px;
    border-radius: 5px;
    font-family: cursive;
    font-size: 14px;
    background-color: greenyellow;
}



.butt_green{
    padding: 5px 8px 5px 8px;
    margin: 0px 0px 0px 5px;
    border-radius: 5px;
    font-family: cursive;
    font-size: 14px;
    background-color: greenyellow;
}

.butt_red{
    text-decoration: none;
    float: right;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    background-color: orange;
    font-family: cursive;
    font-size: 14px;
    color: black;
    border: 2px solid #434647;
}

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
#li {
    margin: 20px 10px 20px 10px;
}

.head_a{
    text-decoration: none;
    font-family: Verdana;
    font-size: 18px;
    color: white;
    
}

.content {
    display: flex;
    height: calc(100vh - 60px);
    background-color: black;
    margin: auto;
    width: 1250px;
    
}

.navigation {
    background-color: #26292e;
    width: 400px;
    overflow-y: hidden; /* Приховуємо стандартний вертикальний скрол */
    overflow-x: hidden; /* Приховуємо стандартний горизонтальний скрол */
    scrollbar-width: thin; /* Задаємо товщину вертикального скролбара для браузерів на основі Mozilla (Firefox) */
    scrollbar-color: transparent transparent; /* Колір вертикального скролбара для Firefox, transparent для того, щоб був невидимий */
}

.search{
    flex: 1;
}

.post{
    flex: 1;
    background-color: #2a2f38;
    display: flex;
    flex-direction: column-reverse;

}
.search_result{
    height: 120vh;
}
.search_group{
    float: left;
    width: 850px;
    padding: 20px 0px 0px 0px;
}

.div_messeg {
    display: flex;
    flex-direction: column-reverse;
    width: 850px;
    height: calc(120vh - 1px);
    overflow-y: auto; /* Замініть scroll на auto, щоб вивести скрол тільки при потребі */
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: grey; /* Колір вертикального скролбара для Firefox */

    /* Стилізація WebKit (Chrome, Safari) */
    &::-webkit-scrollbar {
        width: 6px; /* Ширина скролбара */
    }

    &::-webkit-scrollbar-thumb {
        background-color: grey; /* Колір пальця скролбара */
        border-radius: 3px; /* Закруглення країв пальця скролбара */
    }
}

.group{
    border-radius: 10px;
    background-color: #062b66;
    margin: 5px;
    width: 390px;
    height: 70px;
}

.volumeControl {
    color: red; /* Змінює колір тексту */
    margin: 3px 3px 0px 3px;
    float: left;
    width: 60px;
}

.playControl{
    margin: 3px 3px 0px 3px;
    float: left;
    width: 200px;
}

.cl{
    float: left;
    border-radius: 5px;
    background-color: #e6ab0b;
}

.sounds{
    border-radius: 10px;
    background-color: #062b66;
    margin: 5px;
    width: 390px;
    height: 25px;
}

.mess_time{
    float: left;
    margin: 1px 2px 0px 2px;
    font-family: cursive;
    font-size: 14px;
    color: white;
}


.table_group{
    background-color: #26292eDD;
}

.group0{
    border-radius: 5px;
    background-color: #062b66;
    margin: 5px;
    width: 390px;
    height: 100px;
}

.group2{
    float: left;
    border-radius: 5px;
    background-color: #062b66;
    margin: 5px;
    width: 390px;
    height: 100px;
}

.group_messeg{
    border-radius: 10px 10px 0px 0px;
    margin: 0px 20px 2px 20px;
    width: 810px;
    background-color: #523d06;
}

.group_comments{
    border-radius: 0px 0px 10px 10px;
    margin: 2px 20px 10px 20px;
    width: 810px;
    background-color: #523d06;
}

.comments{
    border-radius: 10px;
    margin: 0px 20px 5px 20px;
    width: 810px;
    background-color: #523d06;
}

.link_group{
    float: left;
    margin: 2px 2px 2px 10px;
    font-family: sans-serif;
    font-size: 18px;
    color: white;

}

.group1 {
    float: left;
    border-radius: 10px;
    background-color: #062b66;
    margin: 2px;
    width: 418px;
    height: 70px;

}



.messeg_l {
    background-color: #2a3c5c;
    width: 400px;
    margin: 2px 10px 0px 10px;
    border-radius: 10px 10px 10px 0px;

}

.messeg_r {
    background-color: #2a3c5c;
    width: 400px;
    margin: 2px 10px 0px 430px;
    border-radius: 10px 10px 0px 10px;

}
#user{
    font-family: cursive;
    font-size: 18px;
    color: white;
}

#mess{
    margin: 0px 10px 0px 10px;
    font-family: cursive;
    font-size: 18px;
    color: white;
}



.mess_g{
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding: 0px 0px 0px 10px;
    font-family: cursive;
    font-size: 20px;
}

.mess_g_r{
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding: 0px 0px 0px 10px;
    font-family: cursive;
    font-size: 16px;
}


#img_post{
    margin: 5px 5px 0px 5px;
    width: 390px;
    border-radius: 10px;

}

#mess1{
    margin: 0px 10px 0px 10px;
    font-family: cursive;
    font-size: 16px;
    color: #c6ccc8;
}

#time{
    margin: 2px 5px 2px 345px;
    font-family: sans-serif;
    font-size: 12px;
    color: white;
}
#time_g{
    float: right;
    margin: 10px 5px 2px 2px;
    font-family: sans-serif;
    font-size: 12px;
    color: white;
}

#link{
    margin: 2px 10px 2px 10px;
    font-family: sans-serif;
    font-size: 14px;
    color: #e3e094;
}
.text_group{
    border: none;
    resize: none;
    width: 800px;
    height: 50px;
    background-color: #434647;
    border-radius: 5px;
    margin: 0px 0px 0px 20px;
    padding: 5px;
    font-family: cursive;
    font-size: 16px;
    color: white;
}

.record{
    background-color: #434647;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
.text_area{
    border: none;
    resize: none;
    width: 700px;
    height: 50px;
    background-color: #434647;
    border-radius: 5px;
    margin: 0px 0px 0px 10px;
    padding: 5px;
    font-family: cursive;
    font-size: 16px;
    color: white;
}

.table_basket1{
    border: none;
    background-color: #434647;
    font-family: cursive;
    font-size: 16px;
    color: white;
    padding: 0px;
    margin: 2px 0px 2px 2px;
    width: 190px;
    height: 30px
}

.butt_green0{
    padding: 5px 8px 5px 8px;
    margin: 2px 2px 2px 260px;
    border-radius: 5px;
    font-family: cursive;
    font-size: 14px;
    background-color: greenyellow;
}
.avatar{
    margin: 5px;
}

.img_group{
    margin: 2px 0px 2px 5px;
    border-radius: 10px;
    width: 395px;
}

.img_group1{
    margin: 2px 0px 2px 5px;
    border-radius: 10px;
    width: 800px;
}

.user_change{
    background-color: black;
    margin: 2px;
    padding: 0px;

}

.file{
    width: 120px;
}

#link_js{
    float:left;
    margin: 5px;
    font-family: cursive;
    font-size: 18px;
    color: white;

}