<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natiskun</title>

    {% load static %}
    <link href="{% static 'Natiskun/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="div_li">
            <nav>
                <ul id="nav">
                    <li id="li"><a class="head_a" href="{% url 'index' %}">NatiSkun</a></li>
                    <li id="li"><button onclick="runEverySecond1()">Тест</button></a></li>
                <!--<li id="li"><a class="head_a" href="#">Контакти</a></li>
-->
                </ul>
            </nav>
        </div>

        <div class="div_search">
            {% if user.is_authenticated %}
                <table>
                    <tr>
                        <td>
                            <form method="POST" role="form" action="{% url 'search' id=0 %}">
                                {% csrf_token %}
                                <input type="text" class="search_form" name="search"  placeholder="Знайти">
                                <button type="submit" class="butt_search">🔎</button>
                            </form>
                        </td>
                    </tr>
                </table>
            {% else %}
            {% endif %}
        </div>

        <div class="login">
            {% block login %}


            {% endblock %}

        </div>
    </header>

    <div class="content">


        <div class="post">

            <div class="div_form">
                {% block messeg_form %}


                {% endblock %}


            </div>

            <div class="div_messeg">
                {% block messeg %}


                {% endblock %}

            </div>

        </div>

        <div class="navigation">

            {% block navigation %}


            {% endblock %}

        </div>

    </div>



</body>

<script src="{% static 'Natiskun/js/script.js' %}"></script>

</html>