<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natiskun</title>

    {% load static %}
    <link href="{% static 'Natiskun/style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div id="div_li">
            <nav>
                <ul id="nav">
                    <li id="li"><a class="head_a" href="#">NatiSkun</a></li>
                    <!--
                <li id="li"><a class="head_a" href="#">Послуги</a></li>
                <li id="li"><a class="head_a" href="#">Контакти</a></li>
-->
                </ul>
            </nav>
        </div>
        <div class="login">
            {% block login %}


            {% endblock %}

        </div>
    </header>

    <div class="content">

        <div class="post">

            <div class="div_form">
                <table>
                    <tr>
                        <form method="POST" role="form" action="#">
                            <td width="300">
                                <!--                {% csrf_token %}-->
                                <textarea class="text_area" name="description" placeholder="Повідомленя"></textarea>
                            </td>
                            <td><button type="submit" class="butt_green">Send</button></td>
                        </form>
                    </tr>

                </table>

            </div>

            <div class="div_messeg">
               
                <div class="messeg_l">
                    <p id="mess">Привітю. Як справи?</p>
                    <p id="time">16:25</p>
                </div>

            </div>

        </div>

        <div class="navigation">
            {% block navigation %}


            {% endblock %}

        </div>

    </div>

</body></html>