{% extends "Natiskun/base.html" %}

{% block login %}

{% if user.is_authenticated %}
<table>
    <tr>
        <td width="50"><img class="avatar" src="{{ user_prof.avatar.url }}" style="width:50px;"></td>
        <td><p id="mess">{{ user.username }}</p></td>
        <td><a href="{% url 'logout' %}" class="butt_red" onclick="return confirm('Ви впевнені, що хочете вийти?')"
            >Вийти</a></td>

        {% if request.user.is_staff %}
            <td><a href="{% url 'admin:index' %}" class="butt_green">Админ</a></td>
            <td><a href="{% url 'search' id=1 %}" class="butt_green">Всі</a></td>
<!--            <td><button onclick="test()">Click</button></td>-->
        {% else %}
        {% endif %}
    </tr>
</table>

{% else %}
<table>
    <tr>
        <td width="300">
            <form method="POST" role="form" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" class="log_form" name="username" id="username0" placeholder="Ваш нікнейм">
                <input type="password" class="log_form" name="password" id="password0" placeholder="Пароль">
                <button type="submit" class="butt_green">Війти</button>
            </form>
        </td>
        <td><a class="butt_red" href="#">Реєстрація</a></td>
    </tr>
</table>
{% endif %}

{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

{% endblock %}

{% block messeg %}



{% endblock %}


{% block messeg_form %}

    {% if user.is_authenticated %}

    <table>
        <tr>
            <form method="POST" role="form" action="#">
                {% csrf_token %}
                <td width="300">

                    <textarea id="myTextarea" class="text_area" name="messeg" placeholder="Повідомленя"></textarea>
                </td>
            </form>
        </tr>

    </table>
    {% endif %}


{% endblock %}
