{% extends "Natiskun/base.html" %}

{% block login %}

{% if user.is_authenticated %}
<table>
    <tr>
        <td width="50"><img class="avatar" src="{{ user_prof.avatar.url }}" style="width:50px;"></td>
        <td><a href="{% url 'user' %}" id="user" style="text-decoration: none;">{{ user.username }}</a></td>
    </tr>
</table>

{% else %}
<table>
    <tr>
        <td width="300">
            <form method="POST" role="form" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" class="log_form" name="username" id="username0" placeholder="Ваш нікнейм">
                <input type="password" class="log_form" name="password" id="password0" placeholder="Пароль">
                <button type="submit" class="butt_green">Війти</button>
            </form>
        </td>
        <td><a class="butt_red" href="#">Реєстрація</a></td>

    </tr>
</table>
{% endif %}

{% endblock %}

{% block navigation %}

    {% if user.is_authenticated %}

        {% for group in list_groups %}
        <a href="{% url 'group' group.2 %}" id="user" style="text-decoration: none;">
            <div class="group0" style="background: url({{ group.5.url }})">
                <p class="mess_g">{{ group.0 }}</p>
                <p class="mess_g_r">Постів {{ group.3 }}</p>


                <table  style="width:350px;">
                    <tr id="test" >
                        <td><p id="mess">{{ group.1 }}</p></td>
                    </tr>
                </table>
            </div>
        </a>
    {% endfor %}

    {% else %}

        <form enctype="multipart/form-data" action="{% url 'index' %}" method="POST">
            {% csrf_token %}

            <input type="text" class="table_basket1" name="username" id="username" placeholder="Ваш нікнейм">
            <input type="email" class="table_basket1" name="email" id="email" placeholder="Електрона пошта">
            <input type="password" class="table_basket1" name="password1" id="password1" placeholder="Пароль">
            <input type="password" class="table_basket1" name="password2" id="password2" placeholder="Підтвердження">

            <button type="submit" class="butt_green0">Зареєструватись</button>

        </form>

    {% endif %}


{% endblock %}

{% block content %}

{% endblock %}