{% extends "Natiskun/base.html" %}

{% block login %}

{% if user.is_authenticated %}
<table>
    <tr>
        <td width="50"><img class="avatar" src="{{ user_prof.avatar.url }}" style="width:50px;"></td>
        <td><a href="{% url 'user' %}" id="user" style="text-decoration: none;">{{ user.username }}</a></td>
    </tr>
</table>

{% else %}
<table>
    <tr>
        <td width="300">
            <form method="POST" role="form" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" class="log_form" name="username" id="username0" placeholder="Ваш нікнейм">
                <input type="password" class="log_form" name="password" id="password0" placeholder="Пароль">
                <button type="submit" class="butt_green">Війти</button>
            </form>
        </td>
        <td><a class="butt_red" href="#">Реєстрація</a></td>

    </tr>
</table>
{% endif %}

{% endblock %}

{% block navigation %}

    {% if user.is_authenticated %}

        {% for group in list_group %}
        <a href="{% url 'group' group.id %}" id="user" style="text-decoration: none;">
            <div class="group0" style="background: url('/media/fon.jpg')">
                <table>
                    <tr id="test" >
                        <td width="90"><img class="avatar" src="{{ user_prof.avatar.url }}" style="width:90px;"></td>
                        <td>
                            <table  width="210">
                                <tr id="test"  class="table_group">
                                    <td height="15"><p id="mess">{{ group.name }}</p></td>
                                </tr>
                                <tr id="test"  class="table_group">
                                    <td height="60"><p id="mess1">{{ group.description }}</p></td>
                                </tr>
                            </table>
                        </td>

                        <td>
                            <table width="30">
                                <tr id="test"  class="table_group">
                                    <td height="15"><p id="mess">Постів</p></td>
                                </tr>
                                <tr id="test"  class="table_group">
                                    <td height="60"><p id="mess">5555</p></td>
                                </tr>
                            </table></td>
                    </tr>
                </table>
            </div>
            </a>
        {% endfor %}

    {% else %}

        <form enctype="multipart/form-data" action="{% url 'index' %}" method="POST">
            {% csrf_token %}

            <input type="text" class="table_basket1" name="username" id="username" placeholder="Ваш нікнейм">
            <input type="email" class="table_basket1" name="email" id="email" placeholder="Електрона пошта">
            <input type="password" class="table_basket1" name="password1" id="password1" placeholder="Пароль">
            <input type="password" class="table_basket1" name="password2" id="password2" placeholder="Підтвердження">

            <button type="submit" class="butt_green0">Зареєструватись</button>

        </form>

    {% endif %}


{% endblock %}

{% block content %}

{% endblock %}