{% extends "Natiskun/base.html" %}

{% block login %}

{% if user.is_authenticated %}
<table>
    <tr>
        <td width="50"><img class="avatar" src="{{ user_prof.avatar.url }}" style="width:50px;"></td>
        <td><a href="{% url 'user' %}" id="user" style="text-decoration: none;">{{ user.username }}</a></td>
    </tr>
</table>

{% else %}
<table>
    <tr>
        <td width="300">
            <form method="POST" role="form" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" class="log_form" name="username" id="username0" placeholder="Ваш нікнейм">
                <input type="password" class="log_form" name="password" id="password0" placeholder="Пароль">
                <button type="submit" class="butt_green">Війти</button>
            </form>
        </td>
        <td><a class="butt_red" href="{% url 'user' %}">Реєстрація</a></td>

    </tr>
</table>
{% endif %}

{% endblock %}

{% block navigation %}

    {% if user.is_authenticated %}

        {% for group in list_groups %}
        <a href="{% url 'group' group.2 %}" id="user" style="text-decoration: none;">
            <div class="group0" style="background: url(media/{{ group.5 }})">

                <table >
                    <tr id="test" >
                        <td width="350" class="mess_g">{{ group.0 }}</td>
                        <td class="mess"><img src="/media/seting.png" style="width:16px;"></td>
                    </tr>

                    <tr id="test" >
                        <td class="mess_g_r">{{ group.1 }}</td>
                        <td class="mess">{{ group.3 }}</td>
                    </tr>

                </table>
            </div>
        </a>
    {% endfor %}

    {% else %}

    {% endif %}


{% endblock %}

{% block content %}

{% endblock %}