<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natiskun</title>

    {% load static %}
    <link href="{% static 'Natiskun/css/style_inv.css' %}" rel="stylesheet">
    <link rel="icon" href="/media/seting.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="div_li">
            <nav>
                <ul id="nav">
                    <li id="li"><a class="head_a" href="{% url 'index' %}">NatiSkun</a></li>
                    <li id="li"><a class="head_a" href="{% url 'inventory' %}">Inventory</a></li>
                    <li id="li"><button onclick="play(len=1)">>></button></li>
                    <li id="li"><button onclick="play(len=0)"><<</button></li>

-->
                </ul>
            </nav>
        </div>

    </header>

    <div class="content">



    </div>



</body>

<script src="{% static 'Natiskun/js/script_inv.js' %}"></script>

</html>