{% extends "Natiskun/base.html" %}

{% block login %}

{% if user.is_authenticated %}
<table>
    <tr>
        <td width="50"><img class="avatar" src="{{ user_prof.avatar.url }}" style="width:50px;"></td>
        <td><a href="{% url 'user' %}" id="user" style="text-decoration: none;">{{ user.username }}</a></td>

    </tr>
</table>

{% else %}
<table>
    <tr>
        <td width="300">
            <form method="POST" role="form" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" class="log_form" name="username" id="username0" placeholder="Ваш нікнейм">
                <input type="password" class="log_form" name="password" id="password0" placeholder="Пароль">
                <button type="submit" class="butt_green">Війти</button>
            </form>
        </td>
        <td><a class="butt_red" href="#">Реєстрація</a></td>
    </tr>
</table>
{% endif %}

{% endblock %}

{% block navigation %}

    {% if user.is_authenticated %}
        {% for cont in list_cont %}
            <a href="{% url 'contact' cont.1 %}" style="text-decoration: none;">
                    <div class="group">
                        <table>
                            <tr id="test">
                                <td width="60"><img class="avatar" src="{{ cont.0.url }}" style="width:60px;"></td>
                                <td>
                                    <table>
                                        <tr id="test">
                                            <td height="15"><p id="mess">{{ cont.1 }}</p></td>
                                        </tr>
                                        <tr id="test">
                                            <td  height="20"><p id="mess1">{{ cont.2 }}</p></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
        {% endfor %}


    {% else %}

    {% endif %}





{% endblock %}

{% block messeg %}
    <div class="search_result">
        {% if user.is_authenticated %}
            <div class="search_group">
            <h1 id="mess">Результат пошуку користувачів:</h1>

            {% for l in list_user %}

            {% if l.0 != user.username %}

                <div class="group1">
                    <table>
                        <tr>
                            <td width="60"><img class="avatar" src="{{ l.1.url }}" style="width:60px;"></td>
                            <td width="100"><p id="mess">{{ l.0 }}</p></td>
                            <td width="100"><a href="{% url 'add' l.2 %}" class="butt_green">Додати</a></td>
                        </tr>
                    </table>
                </div>

            {% endif %}

            {% endfor %}

        </div>


        <div class="search_group">

            <h1 id="mess">Результат пошуку групи:</h1>

        {% for group in list_groups %}
        <a href="{% url 'group' group.2 %}" id="user" style="text-decoration: none;">
            <div class="group2" style="background: url('/media/fon1.jpg')">
                <p class="mess_g">{{ group.0 }}</p>

                <a href="{% url 'add_g' group.2 %}" class="butt_green">Додати</a>

                <p class="mess_g_r">Постів {{ group.3 }}</p>


                <table  style="width:350px;">
                    <tr id="test" >
                        <td><p id="mess">{{ group.1 }}</p></td>
                    </tr>
                </table>
            </div>
        </a>
        {% endfor %}

        </div>

    {% else %}

    {% endif %}

    </div>

{% endblock %}

