{% extends "Natiskun/base.html" %}

{% block login %}

{% if user.is_authenticated %}
<table>
    <tr>
        <td width="50"><img class="avatar" src="{{ user_prof.avatar.url }}" style="width:50px;"></td>
        <td><p id="mess">{{ user.username }}</p></td>
        <td><a href="{% url 'logout' %}" class="butt_red">Вийти</a></td>
        {% if request.user.is_staff %}
        <td><a href="{% url 'admin:index' %}" class="butt_green">Админ</a></td>
        {% endif %}
    </tr>
</table>

{% else %}
<table>
    <tr>
        <td width="300">
            <form method="POST" role="form" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" class="log_form" name="username" id="username0" placeholder="Ваш нікнейм">
                <input type="password" class="log_form" name="password" id="password0" placeholder="Пароль">
                <button type="submit" class="butt_green">Війти</button>
            </form>
        </td>
        <td><a class="butt_red" href="#">Реєстрація</a></td>
    </tr>
</table>
{% endif %}

{% endblock %}

{% block navigation %}

    {% if user.is_authenticated %}
        {% for cont in list_cont %}
            <a href="{% url 'contact' cont.1 %}" style="text-decoration: none;">
                    <div class="group">
                        <table>
                            <tr id="test">
                                <td width="60"><img class="avatar" src="{{ cont.0.url }}" style="width:60px;"></td>
                                <td>
                                    <table>
                                        <tr id="test">
                                            <td height="15"><p id="mess">{{ cont.1 }}</p></td>
                                        </tr>
                                        <tr id="test">
                                            <td  height="20"><p id="mess1">{{ cont.2 }}</p></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
        {% endfor %}

    {% else %}

    {% endif %}

{% endblock %}

{% block messeg %}
    <div class="search_result">
        {% if user.is_authenticated %}
            <h1 id="mess">Результат пошуку:</h1>

            {% for l in list_user %}

            {% if l.0 != user.username %}

            <div class="group1">
                <table>
                    <tr>
                        <td width="60"><img class="avatar" src="{{ l.1.url }}" style="width:60px;"></td>
                        <td width="100"><p id="mess">{{ l.0 }}</p></td>
                        <td width="100"><a href="{% url 'add' l.2 %}" class="butt_green">Додати</a></td>
                    </tr>
                </table>
            </div>
    {% endif %}

    {% endfor %}


    {% else %}

    {% endif %}

    </div>

{% endblock %}

