{% extends "Natiskun/base.html" %}

{% block login %}

{% if user.is_authenticated %}
<table>
    <tr>
        <td width="50"><img class="avatar" src="{{ user_prof.avatar.url }}" style="width:50px;"></td>
        <td><a href="{% url 'user' %}" id="user" style="text-decoration: none;">{{ user.username }}</a></td>
        <td><a href="{% url 'logout' %}" class="butt_red" onclick="return confirm('Ви впевнені, що хочете вийти?')"
            >Вийти</a></td>
        {% if request.user.is_staff %}
        <td><a href="{% url 'admin:index' %}" class="butt_green">Админ</a></td>
        <td><a href="{% url 'search' id=1 %}" class="butt_green">Всі</a></td>
        {% endif %}
    </tr>
</table>

{% else %}
<table>
    <tr>
        <td width="300">
            <form method="POST" role="form" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" class="log_form" name="username" id="username0" placeholder="Ваш нікнейм">
                <input type="password" class="log_form" name="password" id="password0" placeholder="Пароль">
                <button type="submit" class="butt_green">Війти</button>
            </form>
        </td>
        <td><a class="butt_red" href="#">Реєстрація</a></td>
    </tr>
</table>
{% endif %}

{% endblock %}

{% block navigation %}

    {% if user.is_authenticated %}
        {% for cont in list_cont %}
            <a href="{% url 'contact' cont.1 %}" style="text-decoration: none;">
                    <div class="group">
                        <table>
                            <tr id="test">
                                <td width="60"><img class="avatar" src="{{ cont.0.url }}" style="width:60px;"></td>
                                <td>
                                    <table>
                                        <tr id="test">
                                            <td height="15"><p id="mess">{{ cont.1 }}</p></td>
                                        </tr>
                                        <tr id="test">
                                            <td  height="20"><p id="mess1">{{ cont.2 }}</p></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
        {% endfor %}

    {% else %}

    {% endif %}



{% endblock %}

{% block messeg %}
<div class="search_result">
<!--    <p id="mess">1</p>-->
    <div class="form_group_add">
        <form method="POST" role="form" action="{% url 'add_group' %}">
                {% csrf_token %}
            <input type="text" class="group_form" name="name" placeholder="Назва вашої групи">
            <textarea class="text_area_group" name="description" placeholder="Опис вашої групи"></textarea>
            <button type="submit" class="butt_green">Створити</button>
        </form>
    </div>

    <div class="group_list">

            {% for group in list_groups %}
                <a href="{% url 'group' group.2 %}" id="user" style="text-decoration: none;">
                    <div class="group0" style="background: url('/media/fon1.jpg')">
                        <p class="mess_g">{{ group.0 }}</p>
                        <p class="mess_g_r">Постів {{ group.3 }}</p>

                        <table  style="width:350px;">
                            <tr id="test" >
                                <td><p id="mess">{{ group.1 }}</p></td>
                            </tr>
                        </table>
                    </div>
                </a>
            {% endfor %}


    </div>

</div>
{% endblock %}

